#heading {
    background-color: aquamarine;
    color: red;
    font-size: 128px;
    text-align: center;
}
.big {
    font-size: 72px;
    color: black;
    font-weight: bold;
}
#photoB {
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}
.aa {
    font-size: 36px;
}
.cc {
    font-size: 48px;
}
.bb {
    font-size: 18px;
}
#cute {
    width: 200px;
    height: 200px;
}