#heading {
    background-color: aquamarine;
    color: red;
    font-size: 128px;
    text-align: center;
}
.big {
    font-size: 72px;
    color: black;
    font-weight: bold;
}
#photoB {
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 60px;
    margin-bottom: 20px;
}